li{
    list-style: none;
    padding: 10px;
    float: left;

}
ul a{
    text-decoration: none;
    color:white ;
    font-family: 'Righteous', cursive;
    font-size: 22px;
}

.navegador{
    float: right;
    margin-right: 30px;
}

.contenedor-header{
    height: 70px;
    max-width: 100%;
}

header{
    background-color: blueviolet;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Righteous', cursive;
    font-family: 'Sarabun', sans-serif;
}

.contenedor-hero{
    background-image: url(img/pexels-antonio-batinić-4164418.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-text{
    font-family: 'Righteous', cursive;
    font-family: 'Sarabun', sans-serif;
    font-size: 60px;
    text-align: center;
    color: beige;
    line-height : 25px;


}