li{
    list-style: none;
    padding: 10px;
    float: left;

}
ul a{
    text-decoration: none;
    color:white ;
    font-family: 'Righteous', cursive;
    font-size: 22px;
}

.navegador{
    float: right;
    margin-right: 30px;
}

.contenedor-header{
    height: 70px;
    max-width: 100%;
}

header{
    background-color: blueviolet;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Righteous', cursive;
    font-family: 'Sarabun', sans-serif;
}

.contenedor-hero{
    background-image: url(img/pexels-antonio-batinić-4164418.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-text{
    font-family: 'Righteous', cursive;
    font-family: 'Sarabun', sans-serif;
    font-size: 60px;
    text-align: center;
    color: beige;
    line-height : 25px;


}
.sobremi{
    height: 500px;
    max-width: 100%;
    background-color: #c3c3c3;
    display: flex;
}
.contenedor-sobremi{
    display: inline-block;
    margin-top: -50px;
    height: 490px;
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.titulo-sobremi{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 45px;
}
.contenido-sobremi{
    
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    padding: 50px;
    text-align: justify;
}

.skills{
    height: 200px;
    max-width: 100%;
    border: solid 1px;
}
.titulo-skills{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 75px;
    max-width: 100%;
}
.contenedor-skills{
    height: 100px;
    max-width: 100%;
    border: solid 1px;
    display: inline-block;
    display: flex;
}
.contenedor-s{
    height: 90px;
    width: 20%;
    max-width:100px;
    display: inline-block;
    border: solid 1px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
  


}
.contenedor-img{
    display: inline-block;
    max-width: 100px;
}
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
margin: 0 30px;
}
.links a i{
font-size:4rem ;
}
img {
    object-fit: cover;
     margin: -20px;
    
   }
.icono{
    height: 100px;
    width: 100px;
    display: inline-block;
    padding-right: 5px;

}
.icono2{
    width: 70px;
    height: 70px;
    display: inline-block;
    
}
.proyectos{
    height: 410px;
    max-width: 100%;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
   margin-top: -20px;

}
.contenedor-proyectos-all{
    width: 100%;
}
.titulo-proyectos{

}

.contenedor-proyectos{
    height: auto;
    display: grid;
    max-width: 100%;
    position: relative;
    margin: auto;
}
.card{
    width: 10px;
    height: auto;
    position: relative;
    margin: 30px auto;
    display: inline-block;

}
.card .card-img img{
    display: inline-block;
    max-width: 200px;
    object-fit: cover;
    position: relative;
    display: inline;

}
.news-cards-img:hover{
    transform: scale(.9,.9);
}
.news-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
    margin-top: 40px;
    
}

.news-cards img{
    width: 100%;
    height: 180px;
}
.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
    margin-top: 20px;
 
}

.news-cards a{
padding: 10px 0;
color: #ffffff;
display: inline-block;
font-weight: bold;
}
.titulo-proyectos{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 45px;
    max-width: 100%;

}
.texto-proyectos{
    font-size: 20px;
    margin: 10px 0;
    color: white;
}
/*Footer*/
#footer{
    max-width: 100%;
    margin-top: -30px;
}
